* {
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f5f5f5;
}

.form-container {
    width: 700px;
    padding: 20px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    color: #ff6600;
    text-align: left;
}

label {
    margin-top: 15px;
    color: #333;
    font-weight: bold;
    display: inline-block;
    font-weight: normal;
    gap: 10px;
}

.form-row {
    display: flex;
    gap: 10px;
    margin-top: 10px;
}

.form-group {
    flex: 1;
}

input[type="text"],
input[type="email"],
input[type="date"],
select,
textarea {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

textarea {
    resize: vertical;
    height: 100px;
}


input[type="radio"],
input[type="checkbox"] {
    margin-right: 10px;
}

.buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

button {
    width: 48%;
    padding: 10px;
    border: none;
    border-radius: 4px;
    color: white;
    cursor: pointer;
    font-size: 16px;
}
button[type="reset"] {
    background-color: #ff6600;
}

button[type="submit"] {
    background-color: #ff6600;
}
.label-row {
    display: flex;
    justify-content: space-between; /* Równe odstępy między napisami */
    width: 100%; /* Rozciąga wiersz na całą szerokość kontenera */
}