
h1{
    color: white;
    background-color: red;
    text-align: center;
    width: fit-content;
    margin: 0 auto;
    padding: 8px;
    margin-bottom: 1rem;
}
.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.top{
    width: 400px;           
    height: 70px;          
    background-color: #DEB887;
    border-top-left-radius:60px;
    border-top-right-radius: 60px;
    border-bottom: 10px solid;
    border-bottom-color: #D3A15F; 
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
}
.cheese{
    width: 425px;           
    height: 10px;          
    background-color: #FFD700;
    border-bottom: 3px solid;
    border-bottom-color: #DAA520;
}
.tomato{
    width: 300px;           
    height: 25px;          
    background-color: #FF0000;
    border-bottom: 3px solid;
    border-bottom-color: #DC143C;
}
.meat{
    width: 380px;           
    height: 25px;          
    background-color: #CC6633;
    border-top-left-radius:60px;
    border-top-right-radius: 60px;
    border-bottom: 3px solid;
    border-bottom-color: #993300; 
    border-bottom-left-radius: 60px;
    border-bottom-right-radius: 60px;
}
.onion {
    width:18rem;
    height: 2rem;
    background-color: #800080;
    display: flex;
    flex-direction: row;
    justify-content: space-between;               
}

.circle {
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    background-color: pink;                   
}
.mielone {
    display: inline-block;
    width: 6rem;
    height: 6rem;
    border-radius: 50%;
    background-color: #A52A2A;                   
}
.mielony{
    display: flex;
}
.cucumber{
    width: 18rem;           
    height: 30px;          
    background-color: #90EE90;
    border-bottom: 15px solid;
    border-bottom-color: #008000; 
    border-bottom-left-radius: 80px;
    border-bottom-right-radius: 80px;
}
.bottom{
    width: 400px;           
    height: 40px;          
    background-color: #DEB887;
    border-bottom-left-radius:60px;
    border-bottom-right-radius: 60px;
    border-top: 10px solid;
    border-top-color: #D3A15F; 
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    
}